*.class
*.log

# sbt specific
.bloop
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/**/target

# BSP
.bsp

# Metals
.metals
project/metals.sbt
project/**/metals.sbt

# Scala-IDE specific
.scala_dependencies
.worksheet

# IntelliJ specific
.idea

# VSCode specific
.vscode
